<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GetRoutes</servlet-name>
		<servlet-class>org.reber.Cyride.GetRoutes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRoutes</servlet-name>
		<url-pattern>/getroutes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateRoute</servlet-name>
		<servlet-class>org.reber.Cyride.CreateRoute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRoute</servlet-name>
		<url-pattern>/createroute</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetDataFromURL</servlet-name>
		<servlet-class>org.reber.Cyride.GetDataFromURL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDataFromURL</servlet-name>
		<url-pattern>/GetDataFromURL</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ParseXML</servlet-name>
		<servlet-class>org.reber.Cyride.ParseDataFromXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParseXML</servlet-name>
		<url-pattern>/parsexml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAll</servlet-name>
		<servlet-class>org.reber.Cyride.DeleteAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAll</servlet-name>
		<url-pattern>/DeleteAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetCount</servlet-name>
		<servlet-class>org.reber.Cyride.GetCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCount</servlet-name>
		<url-pattern>/getcount</url-pattern>
	</servlet-mapping>
	
	<precompilation-enabled>true</precompilation-enabled>
	
	<welcome-file-list>
		<welcome-file>routes.jsp</welcome-file>
	</welcome-file-list>
</web-app>
